body {
   margin: 0;
   color: var(--gray-900);
   background-color: #f2f2f2;
   padding:0;
 }
 
 h1,
 h2,
 h3,
 h4,
 h5,
 h6 {
   font-size: inherit;
   font-weight: inherit;
 }

 :root {
    --gray-200: #e5e7eb;
    --gray-300: #d4d4d8;
    --gray-400: #a1a1aa;
    --gray-1000: #f4f5f6;
    --border-gray: #d9d9d9;
    --light-gray: #f4f5f6;
    --gray-500: #f4f5f7;
    --white-200: #e6e6e6;
  }
