.main_nav{
  height: 40px;
  width: 100%;
}

.nav_section {
  background-color:rgb(223, 10, 53);
  z-index: 10;
}

.nav_heading {
  font-size: 1.7rem;
  font-family: 'Lobster', cursive;
}


.left_side a{
  text-decoration: none;
  color: black;
}

ul li {
    list-style: none;
}

.left_side ul a:hover {
  border-bottom: 3px solid white;
}

.right_side {
  right: 30px;
}

.jacaranda_body {
  background-color: #f3f3f3;
}

.all_jacaranda {
  border: 1px solid var(--gray-300);
}

form {
  margin: 2rem auto;
  text-align: center;
  background-color: rgb(223, 10, 53);
  border-radius: 10px;
  width: 50%;
  padding-bottom: 1rem;
  padding-top: 1rem;
}

label {
  color: white;
}

input {
  width: 400px;
  height: 30px;
}

.services_main {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;
}

.services_main img {
  width: 300px;
  height: 250px;
}

.top_section img{
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.followers p a {
  text-decoration: none;
  color: black;
}

.mainj_text p{
  font-size: 1rem;
  font-family: 'Lobster', cursive;
}

.mainj_text h1 {
  font-style: italic;
  font-size: 3rem;
  font-family: 'Langar', cursive;
}
.main_jacaranda {
  display: flex;
  justify-content: center;
}

footer p {
  font-size: 0.8rem;
}

footer p span {
  color: var(--gray-300);
}

.service_head {
  font-family: 'Langar', cursive;
}

.main_jacaranda >div{
  padding-left: 100px;
  padding-right: 100px;
}

.service_1 h1{
  color:rgb(77, 70, 71);
  font-family: 'Langar', cursive;
  font-weight: 400;
  text-align: center;
}

.service_1 .service_text {
  color:rgb(77, 70, 71);
  font-family: 'Langar', cursive;
  font-size: 0.8rem;
  text-align: center;
}

.mainj_image img{
  width: 100%;
  height: 70vh;
  position: relative;
  background: linear-gradient(0deg, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.1))
}

.search_holder {
  position: absolute;
  bottom: 10%;
  left: 30%;
  background-color: var(--gray-200);
  padding: 20px;
}

.search_holder input {
  height: 40px;
}

.search_holder button {
  background-color: rgb(223, 10, 53);
  color: white;
  height: 40px;
  border: none;
}

.link {
  text-decoration: none;
}

.last_buttons .btn {
  font-size: 0.5rem;
  border: 1px solid var(--gray-400);
  border-radius: 0;
}

.services p {
  font-size: 2rem;
}

footer {
   height: 60vh;
   display:flex;
   align-items: center;
   justify-content: center;
   text-align: center;
}

footer a {
  color: white;
  Padding-right: 10px;
}

footer a:hover {
  color: rgb(223, 10, 53)
}

.media_icons i {
  font-size: 1.5rem;
}

.footer_details h1 {
  text-align: center;
  display: flex;
  justify-content: center;
}

.last_footer {
  font-size: 0.8rem;
}

.bottom_lower span{
  font-family: 'Lobster', cursive;
}

/*Search page*/
.hotels_images {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;
}

.hotel_image img{
  width: 300px;
  height: 250px;
}

.hotels_header {
  font-weight: bold;
  display: flex;
  justify-content: center;
  font-family: 'Padauk', sans-serif;
  font-family: 'Poppins', sans-serif;
  margin-bottom: 1rem;
  width: 100%;
}

.j-head {
  font-family: 'Lobster', cursive;
  font-weight: bold;
  font-size: 2rem;
}

.hotel_image p {
  line-height: 10px;
}

.jacaranda_logo {
  width: 300px;
  height: 200px;
}

/*details page */

.details_1 {
  text-align: center;
}

.details_1 p {
  line-height: 10px;
  font-size: 0.8rem;
}

.details_1 img {
  width: 500px;
  height: 400px;
}

.details_heading {
  font-size: 2rem;
  text-align: center
}

.details_heading button {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 1rem;
}

.details_1 h1 {
  font-family: 'Poppins', sans-serif;
  font-size: 2rem;
  text-decoration: underline;
}

.details_page{
  color: white;
}

.details_1 h3 {
  font-family: 'Poppins', sans-serif;
  font-size: 2rem;
}

@media screen and (max-width: 1024px) {
  .mainj_image img{
    width: 100%;
    height: 50vh;
  }
  .mainj_text h1 {
    font-size: 1.5rem;
  }
  .search_holder {
    position: absolute;
    bottom: 20%;
  }
  input {
    width: 200px;
  }

  .services_main {
    display: grid;
    grid-template-columns: 1fr 1fr ;
    grid-gap: 10px;
  }

  .services_main img {
    width: 250px;
    height: 200px;
  }

  .details_1 img {
    width: 500px;
    height: 300px;
  }

  .hotels_images {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
  }

  .hotel_image img{
    width: 300px;
    height: 250px;
  }
}

@media screen and (max-width: 768px) {
  .nav_heading {
    font-size: 1rem;
  }

  .mainj_text h1 {
    font-size: 1rem;
  }

  .mainj_image img{
    width: 100%;
    height: 50vh;
  }

  .j-head {
     font-size: 1.5rem;
  }

  .details_1 img {
    width: 300px;
    height: 200px;
  }

  .services_main {
    display: grid;
    grid-template-columns: 1fr;
    margin: auto;
  }

  .search_holder {
    position: absolute;
    margin-top: 8px;
    display: flex;
    flex-direction: column;
    bottom: 2%;
    padding: 10px;
  }
  
  .search_holder input {
    height: 30px;
  }
  
  .hotels_images {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
  }

  .search_holder button {
    width: 100%;
    height: 30px;
  }

  .services_main img {
    width: 300px;
  }
}