/* home page */
body {
  font-family: "Roboto", sans-serif;
}

header {
  height: 40px;
  width: 100%;
}

.nav_section {
  z-index: 10;
}

.nav_1 {
  background-color: #d35649;
}

.nav_heading {
  font-size: 1.2rem;
}

.find_us_header,
p,
h1 {
  font-size: 1.5rem;
}

p,
h1 {
  font-size: 1rem;
}

footer p {
  font-size: 0.8rem;
}

.services p {
  font-size: 1rem;
}

footer a {
  color: #fff;
  padding-right: 30px;
}

.left_side a {
  text-decoration: none;
}

ul li {
  list-style: none;
}

footer a:hover {
  color: #df0a35;
}

.right_side {
  padding-right: 50px;
}

label {
  color: #fff;
}

input {
  width: 400px;
  height: 30px;
}

.main_j_info {
  position: absolute;
  left: 50%;
  bottom: 60%;
  transform: translate(-50%, 50%);
}

.mainj_text p {
  font-size: 1rem;
}

.mainj_text h1 {
  font-size: 2rem;
  color: #fff;
}

.mainj_image img {
  width: 100%;
  height: 70vh;
  position: relative;
  background: linear-gradient(0deg, black, rgba(0, 0, 0, 0.1));
}

.search_holder {
  background-color: rgba(189, 189, 189, 0.8);
  padding: 30px;
  border-radius: 10px;
}

.search_holder input {
  height: 40px;
}

.text_center {
  text-align: center;
}

.find_1 i {
  font-size: 2rem;
}

.search_holder button {
  background-color: #df0a35;
  color: #fff;
  height: 40px;
  border: none;
}

.service_1 {
  background-color: #e27f65;
  padding: 50px 100px;
  display: grid;
  grid-template-columns: 8fr 1fr;
}

.service_2 {
  background-color: #98a4a5;
  padding: 50px 100px;
  display: grid;
  grid-template-columns: 8fr 1fr;
}

.service_3 {
  padding: 50px 100px;
  display: grid;
  grid-template-columns: 8fr 1fr;
  background-color: #519cd7;
}

.services_main img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

footer {
  height: 50vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  margin-top: 0;
}

footer p span {
  color: var(--gray-300);
}

.form-2 {
  background-color: var(--gray-300);
  color: black;
}

.form-2 h3 {
  font-size: 2rem;
}

.form-2 input {
  height: 30px;
  width: 100px;
}

.form-2 button {
  height: 30px;
}

.details_info button {
  width: 300px;
  border: 1px solid var(--gray-400);
}

.last_text button {
  border: 1px solid var(--gray-400);
  width: 70%;
  margin: 1rem auto;
}

.subscribe input {
  width: 200px;
  height: 30px;
  border-radius: 20px;
  background-color: black;
}

.subscribe input button {
  background-color: #fff;
  border: none;
  color: black;
  margin-top: 5px;
  width: 100px;
}

.media_icons i {
  font-size: 1.5rem;
}

.last_footer {
  font-size: 0.8rem;
}

/* Search page */
.hotels_images {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;
}

.search_head {
  font-size: 2rem;
  margin: 1rem 0;
}

.all-clear {
  background-color: #e5ac5b;
}

.hotel_image img {
  width: 300px;
  height: 250px;
}

.hotel_image p {
  line-height: 10px;
}

.j-head {
  font-weight: bold;
  font-size: 2rem;
}

/* details page */
.details_header {
  color: #d35649;
  font-weight: bold;
  font-size: 2rem;
}

.details_page {
  color: #fff;
}

.last_text {
  padding: 1rem;
}

.form-1 label {
  color: black;
}

.form-1 input {
  background-color: var(--gray-300);
  border: none;
  height: 50px;
}

@media screen and (max-width: 1024px) {
  .mainj_image img {
    width: 100%;
    height: 50vh;
  }

  footer {
    padding: 5px;
    height: 80vh;
  }

  .mainj_text h1 {
    font-size: 1.5rem;
  }

  input {
    width: 200px;
  }

  .services_main img {
    width: 200px;
    height: 200px;
  }

  .hotels_images {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
  }

  .hotel_image img {
    width: 300px;
    height: 250px;
  }

  .form-filler {
    display: flex;
    flex-direction: column;
  }

  .form-2 input,
  .form-2 button {
    width: 100%;
  }

  .main_j_info {
    position: absolute;
    bottom: 70%;
  }

  .search_holder {
    background-color: rgba(189, 189, 189, 0.8);
    padding: 30px;
    border-radius: 10px;
  }

  .details_info button {
    width: 250px;
    border: 1px solid var(--gray-400);
  }
}

@media screen and (max-width: 768px) {
  header {
    height: 100px;
    width: 100%;
  }

  .nav_heading {
    font-size: 2rem;
  }

  .main_j_info {
    width: 100%;
    position: absolute;
    bottom: 25%;
    transform: translate(-50%, -50%);
  }

  footer {
    padding: 5px;
    height: 70vh;
  }

  footer a {
    color: #fff;
    padding-right: 5px;
    font-size: 0.7rem;
  }

  footer p {
    font-size: 0.7rem;
  }

  .right_side a {
    font-size: 1.5rem;
  }

  .service_text {
    text-align: center;
  }

  .service_1,
  .service_2,
  .service_3 {
    grid-template-columns: 1fr;
  }

  .mainj_text h1 {
    font-size: 1rem;
  }

  .mainj_image img {
    width: 100%;
    height: 50vh;
  }

  .j-head {
    font-size: 1.5rem;
  }

  .details_1 img {
    width: 300px;
    height: 200px;
  }

  .search_holder {
    padding: 20px 20px;
    border-radius: 5px;
    margin-right: 20px;
    margin-left: 20px;
  }

  .search_holder input {
    height: 30px;
    width: 100%;
  }

  .main_holder {
    display: flex;
    flex-direction: column;
  }

  .hotels_images {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
  }

  .services_main img {
    margin: 0.5rem auto;
  }

  .last_text p,
  button {
    font-size: 0.8rem;
  }

  .search_holder button {
    width: 100%;
    height: 30px;
  }

  .nav_1 {
    display: flex;
    flex-direction: column;
  }

  .button_location {
    width: 70%;
    height: 30px;
    margin-top: 10px;
  }

  .details_info button {
    width: 100%;
    border: 1px solid var(--gray-400);
  }

  .form-1 input {
    height: 30px;
  }

  .subscribe button {
    width: 100px;
  }

  .contact {
    width: 100%;
  }
}
